{%extends 'base.html'%}
{%load static%}
{%block content%}
<style>
    .page-item,
    .page-link {
        color: rgb(117, 23, 146);
    }

    .page-item:hover,
    .page-link:hover {
        background: #6a11cb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        color: #ffe4c4 !important;
        ;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<div class="container mt-4">
    <br />
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Rezumat Venituri</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Rezumat</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="./" class="btn btn-primary">Înapoi</a>
        </div>

        <div class="col-md-7">
            <h3 style="align-items: center!important;">Vizualizarea Veniturilor</h3>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>

    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/income_stats.js' %}"></script>

{%endblock%}